# Created by .ignore support plugin (hsz.mobi)
### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
cmake-build-debug/
.idea
CMakeLists.txt
Makefile
objs
.DS_Store
modules/.DS_Store
modules/pcre-8.43/.deps/
modules/pcre-8.43/.libs/
modules/pcre-8.43/config.h
modules/pcre-8.43/config.log
modules/pcre-8.43/config.status
modules/pcre-8.43/libpcre.pc
modules/pcre-8.43/libpcre16.pc
modules/pcre-8.43/libpcre32.pc
modules/pcre-8.43/libpcrecpp.pc
modules/pcre-8.43/libpcreposix.pc
modules/pcre-8.43/libtool
modules/pcre-8.43/pcre-config
modules/pcre-8.43/pcre.h
modules/pcre-8.43/pcre_chartables.c
modules/pcre-8.43/pcre_stringpiece.h
modules/pcre-8.43/pcrecpparg.h
modules/pcre-8.43/stamp-h1
